/*DEVELOPER: Nasly Aguilar, Personal Project, August 2021 */
/* Built webpages using several bootstaps templates with some modifications*/



 #profile{
    
    width:400px ;
    height: 360px;
}
    
    
    
footer {
	background-color: black;
	color: white;
	text-align: center;
}
    
    
header.masthead {
    padding-top: 10rem;
	padding-bottom: calc(10rem - 72px);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(92,77,66,.8)),to(rgba(92,77,66,.8))), url("../images/nas.jpg");
	background: linear-gradient(to bottom, rgba(92,77,66,.8) 0,rgba(92,77,66,.8) 100%), url("../images/nas.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
	
	
.text-white {
	color: #fff !important;
}

    
    
.logo{
      
    background: url("/path") no-repeat; 
        width: 50px; 
        height: 50px; 
        display: block; 
        text-indent: -9999px;
}
    
    
    
    
#a {
    
    background-color: rgba(0, 128, 0, 0);
    transition: transform .2s; /* Animation */
    margin: 0 auto;
}
    
    
    
   .card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 10px;
}
    
    table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}



#portfolio .container-fluid {
  max-width: 1920px;
}

#portfolio .container-fluid .portfolio-box {
  position: relative;
  display: block;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(218, 223, 230, 0.9);
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  text-align: center;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-category {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-name {
  font-size: 1.2rem;
  background: #000000;
}

#portfolio .container-fluid .portfolio-box:hover .portfolio-box-caption {
  background: #000000;
  opacity: 1;
}


/* Twitter */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 100px;
  height: 70px;
  text-align: center;
  text-decoration: none;
}


.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: #000000;
  color: white;
}

.fa-medium {
  background: #000000;
  color: white;
}

html {
  scroll-behavior: smooth;
}

 
  

    




